---
import { loadQuery } from "../sanity/lib/load-query";
import { urlForImage } from "../sanity/lib/url-for-image";
import EmblaCarousel from "./EmblaCarousel.jsx";
import AnimatedLogoSlider from "./AnimatedLogoSlider.jsx";
import type { HomepageSection, HomepageData } from "../interfaces/Homepage.ts";
import type { Post } from "../interfaces/Post.ts";
import TEXT from "../constants.js";

const postsQuery = await loadQuery<Post[]>({
  query: `*[_type == "post"]|order(publishedAt desc){
    _id,
    author->{
      _id,
      name,
      image
    },
    title,
    slug,
    publishedAt,
    mainImage,
    body
  }`,
});

const homepageQuery = await loadQuery<HomepageData>({
  query: `*[_type == "homepage"][0]{
    title,
    subtitle,
    description,
    heroImage{
      alt,
      asset->{
        _id,
        url
      }
    },
    heroVideo{
      alt,
      asset->{
        _id,
        url
      }
    },
    ctaText,
    ctaLink,
    sections
  }`,
});

const posts = postsQuery.data.result;
const homepage = homepageQuery.data.result;
---

<div id="container">
  <main>
      <section id="hero" class="relative h-auto min-h-[60vh] md:h-screen flex flex-col justify-center mb-8">
        <video
          class="absolute top-0 left-0 w-full h-full object-cover"
          src={homepage?.heroVideo?.asset?.url}
          autoplay
          loop
          muted
          playsinline
          preload="auto"></video>
        <div class="absolute top-0 left-0 w-full h-full bg-black opacity-50"></div>
      <div
        class="relative z-10 items-center justify-center mx-auto max-w-screen-2xl px-4 md:px-12 pt-32 pb-20 md:pt-40"
      >
        <h1 class="text-teal-200 mb-5">
          {homepage?.title}
        </h1>
        {
          homepage?.subtitle && (
            <h2 class="text-xl text-white mt-2">{homepage?.subtitle}</h2>
          )
        }
        {
          homepage?.description && (
            <p class="text-lg text-white mt-4">{homepage?.description}</p>
          )
        }
        <section id="links">
          <button
            class="mt-4 bg-teal-200 text-black font-bold py-2 px-4 rounded-full"
          >
            <a href="/contact" class="inline-flex items-center"
              >{TEXT["LETS_CHAT"]}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-9 pl-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5"
                ></path>
              </svg>
            </a>
          </button>
        </section>
      </div>
    </section>
  </main>

  {
    homepage?.sections && homepage.sections.length > 0 && (
      <div id="sections" class="sections-container">
        {homepage.sections.map((section: HomepageSection) => (
          <div class="section-box">
            {section.image && (
              <img
                src={urlForImage(section.image).width(600).height(400).url()}
                alt={section.image.alt || section.title || "Section image"}
                class="section-image"
              />
            )}
            {section.title && <h2>{section.title}</h2>}
            {section.content && <p>{section.content}</p>}
          </div>
        ))}
      </div>
    )
  }

  <AnimatedLogoSlider client:only="react" />
  
  <!-- OUR SERVICES -->
  <section id="services" class="py-10 px-4 md:px-12">
    <h2 class="text-2xl font-semibold mb-6">{TEXT["OUR_SERVICES"]}</h2>
    <details
      class="collapse border-b-2 border-teal-200 rounded-none"
      name="my-accordion-det-1"
      open
    >
      <summary class="collapse-title pl-0">01 E-Commerce</summary>
      <div class="collapse-content">
        <p>
          We have done everything from simple stores to complex multi-store
          setups with custom integrations on Shopify and Salesforce Commerce
          Cloud. We have even helped build a custom external app for Shopify.
          Looking at something other than the two listed? We can help you with
          that too. We can help you with:
        </p>
        <ul class="list-disc list-inside pt-4">
          <li>Setup and configuration</li>
          <li>Theme development</li>
          <li>App development (Shopify)</li>
          <li>Migration</li>
          <li>Performance optimization</li>
        </ul>
      </div>
    </details>
    <details
      class="collapse border-b-2 border-teal-200 rounded-none"
      name="my-accordion-det-1"
    >
      <summary class="collapse-title pl-0">02 Websites</summary>
      <div class="collapse-content">
        Need a custom website or help with your existing website? We can help
        you with that too. Whether it is Squarespace, Wordpress, or something
        else, we can set up a site that matches your brand and your needs. We
        can help you with:
        <ul class="list-disc list-inside pt-4">
          <li>Setup and configuration</li>
          <li>Theme development</li>
          <li>Migration</li>
          <li>Performance optimization</li>
        </ul>
      </div>
    </details>
    <details
      class="collapse border-b-2 border-teal-200 rounded-none"
      name="my-accordion-det-1"
    >
      <summary class="collapse-title pl-0">03 UX / UI Design</summary>
      <div class="collapse-content">
        Need a custom design for your website or app? We can help you with that
        too. At Snowdonia we love using Figma to create designs that are both
        functional and beautiful. We can help you with:
        <ul class="list-disc list-inside pt-4">
          <li>Design</li>
          <li>Prototyping</li>
          <li>Wireframing</li>
          <li>Mockups</li>
          <li>Branding</li>
          <li>Visual Identity</li>
          <li>Color Schemes</li>
          <li>Typography</li>
          <li>Iconography</li>
          <li>Animation</li>
        </ul>
      </div>
    </details>
  </section>

  <!-- OUR WORK -->
  <!-- <section class="py-10 pl-4 md:pl-12">
    <h2 class="text-2xl font-semibold mb-6">{TEXT['OUR_WORK']}</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="card">
        <figure><img src="https://placehold.co/600x400" alt="Placeholder" /></figure><div class="card-body">
          <div class="card-title">Card Title</div><p>Card Description</p>
        </div>
      </div>
      <div class="card">
        <figure><img src="https://placehold.co/600x400" alt="Placeholder" /></figure><div class="card-body">
          <div class="card-title">Card Title</div>
          <div class="badge badge-secondary">SquareSpace</div>
          <p>Card Description</p>
        </div>
      </div>
      <div class="card">
        <figure><img src="https://placehold.co/600x400" alt="Placeholder" /></figure><div class="card-body">
          <div class="card-title">Card Title</div><p>Card Description</p>
        </div>
      </div>
    </div>
  </section> -->

  <!-- OUR PROCESS -->
  <section id="work" class="py-10 pl-4 md:pl-12">
    <h2 class="text-2xl font-semibold mb-6">{TEXT["OUR_PROCESS"]}</h2>
    {
      (() => {
        const slides = [
          {
            title: "01 Kick Off Meeting",
            description:
              "Introductions, an overview of timelines, and next steps are discussed during this meeting.",
          },
          {
            title: "02 Discovery",
            description:
              "This is the time when we really dive into what your needs are, create a discovery document that outlines all work that will be done so we have a clear path forward.",
          },
          {
            title: "03 Design (optional)",
            description:
              "This is where we create mockups and prototypes for your review and feedback.",
          },
          {
            title: "04 Development",
            description:
              "This is where the actual coding and implementation of the project takes place.",
          },
          {
            title: "05 Testing",
            description:
              "This is where we thoroughly test the project to ensure everything works as expected.",
          },
          {
            title: "06 Launch",
            description:
              "This is when the project goes live and is made available to users.",
          },
        ];
        return <EmblaCarousel slides={slides} client:only="react" />;
      })()
    }
  </section>

  <!-- OUR THOUGHTS -->
  {
    posts.length > 0 && (
      <section id="about" class="px-4 md:px-12 py-10">
        <h2 class="text-2xl font-semibold mb-6">{TEXT["OUR_THOUGHTS"]}</h2>
  <div class="grid grid-cols-2 md:grid-cols-2 gap-4">
          {posts.map((post) => (
            <div class="card w-full rounded overflow-hidden shadow-lg">
              <figure>
                <img
                  class="w-[100%] max-h-[400px]"
                  src={post.mainImage ? urlForImage(post.mainImage).url() : ""}
                  alt={post.title}
                />
              </figure>
              <div class="card-body">
                <div class="card-title text-xl mb-2">{post.title}</div>
                <p class="text-white text-base">
                  {post.body?.[0]?.children?.[0]?.text ||
                    "No description available."}
                </p>
                <button class="mt-4 bg-teal-200 text-black font-bold py-2 px-4 rounded-full">
                  <a href={`/post/${post.slug.current}`}>
                    {TEXT["READ_ARTICLE"]}
                  </a>
                </button>
              </div>
            </div>
          ))}
        </div>
      </section>
    )
  }
</div>
